.container{
  width:100%;
  background-image: url(/ele/bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow: hidden;
}

.nav{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding:3rem 2rem 0 2rem;
}

.navLeft{
  width: 50%;
  height: 60vh;
  /* background-color: green; */
  text-align: center;
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap:2rem;
}
.navRight{
  width: 50%;
  height: 20vh;
  right:0%;
  /* background-color: rgb(128, 0, 111); */
  text-align:start;
  color: white;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.socialmediaBtn{
  background-color: transparent;
  position: relative;
  border: none;
  cursor: pointer;
  outline: none;
  padding:0px 0px;
}

.socialmediaTop{
  position: relative;
  top: 0;
  left: 0;
}

.socialmediaBottom{
  display:none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99;
}

.socialmediaBtn:hover .socialmediaBottom{
   display:inline-block;
   /* Start the shake animation and make the animation last for 0.5 seconds */
   animation: shake 0.5s;

   /* When the animation is finished, start again */
   animation-iteration-count: infinite; 
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.instruction{
  position:absolute;
  /* transform: translate(-50%, -50%); */
  right:50%;
  background-color: black;
  padding:20px;
  width:300px;
}
.instruction a{
  color:aqua;
}
/* COUNTDOWN FEATURE starts*/
.countdown{
  background-repeat: no-repeat;
  background-position: top center; 
  background-size: fixed; 
  position: absolute;
  width:1000px;
  top: 130px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.countdown h2{
  font-size:1.5rem;
  text-align: center;
  padding:0;
  margin:-40px;
}

.countdownContainer{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.countdownTime{
  background-image: url(/ele/countdown.png);
  width:160px;
  height:163px;
  background-position: top center; 
  padding:20px;
  margin:0 60px 0 60px;
}
.time{
  font-size:6rem;
}
.label{
  font-size:2.5rem;
  margin:-3px;
}
.countdownTime br {
  display: block;
  margin: -10px 0;
}
/* COUNTDOWN FEATURE ends*/


.main {
  /* min-height: 40vh; */
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
  gap:0rem;
  line-height: 1;
}

.title{
  margin:0px;
  display: block;
}
.intro{
  width: 460px;
  height: 190px;
  margin-top: 0px;
  position: relative;
  text-align: center;
  text-shadow: 5px 0px 25px #000000, 5px 0px 25px #000000, 5px 25px 25px #000000;

}

.intro_mobile{
  display: none;
}


.english{
  position: absolute;
  width: 460px;
  height: 150px;
  animation: fadeIn 30s;
  animation-iteration-count: infinite; 
}

.spanish{
  position: absolute;
  width: 460px;
  height: 150px;
  top: -4px;
  left: 0px;
  animation: fadeOut 30s;
  animation-iteration-count: infinite; 
}

.mintBtn{
  padding:10px;
}
@keyframes fadeIn{
  0% { opacity: 0; }
  25% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes fadeOut{
  0% { opacity: 0; }
  50% { opacity: 0; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}

.walletInfo{
  align-items: center;
  justify-content: center;
  text-align: center;
}
.walletInfo h2{
  font-size:30px;
  animation: shine 10s infinite;
  text-shadow: 5px 0px 15px #ffffff, 5px 0px 15px #ffffff, 5px 0px 15px #ffffff;
  padding:0px;
  margin-top:40px;
  margin-bottom:0px;
}
@keyframes shine {
  50% {  text-shadow: 0px 300px 60px #929292, 0px 200px 60px #787878, 0px 100px 60px #707070;}
}

.walletInfo p{
  color:rgb(188, 186, 186);
  font-size:1rem;
}

.footer {
  display: flex;
  height: 120px;
  width:auto;
  padding: 0rem 0;
  justify-content: center;
  align-items:center;
  text-align: center;
  /* background-color: rgb(8, 8, 8); */
}

.footerText{
  flex: 1 0 auto;
  justify-content: center;
  color:rgb(215, 215, 215);
  /* top:200px; */
  padding:0;
}

.footerImgLeft{
  flex: 0 0 auto;
  transform: translate(-0%, -2%);
}
.footerImgRight{
  flex: 0 0 auto;
  transform: translate(0%, -2%);
}


@media (max-width: 1000px) {
  .content{
    background-image: url(/ele/bg_mobile.png);
    background-size:cover;
    /* background-size: 100% auto; */
    overflow: hidden;
  }
  
  .nav{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding:3rem 2rem 0 2rem;
  }

  .navLeft{
    width: 80%;
    height: 100vw;
    flex-direction: row;
    gap:0.3rem;
  }
  .navRight{
    width: 20%;
    height: 100vw;
  }

  .socialmediaTop{
    width:100%;
  }
  
  .socialmediaBottom{
    width:100%;
  }

  @keyframes shake {
    0% { transform: translate(0.5px, 0.5px) rotate(0deg); }
    10% { transform: translate(-0.5px, -1px) rotate(-1deg); }
    20% { transform: translate(-1.5px, 0px) rotate(1deg); }
    30% { transform: translate(1.5px, 1px) rotate(0deg); }
    40% { transform: translate(0.5px, -0.5px) rotate(1deg); }
    50% { transform: translate(-0.5px, 1px) rotate(-1deg); }
    60% { transform: translate(-1.5px, 0.5px) rotate(0deg); }
    70% { transform: translate(1.5px, 0.5px) rotate(-1deg); }
    80% { transform: translate(-0.5px, -0.5px) rotate(1deg); }
    90% { transform: translate(0.5px, 1px) rotate(0deg); }
    100% { transform: translate(0.5px, -1px) rotate(-1deg); }
  }

  .countdown{
    background-repeat: no-repeat;
    background-position: top center; 
    background-size: fixed; 
    position: absolute;
    width:100vw;
    top: 100vw;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .title{
    display: none;
  }
  .intro{
    width: 300px;
    height: 700px;
    margin-top: 20px;
    position: relative;
    text-align: center;
  }
  .intro_short{
    width: 300px;
    height: 160px;
    margin-top: 20px;
    position: relative;
    text-align: center;
  }

  .english{
    position: absolute;
    width: 300px;
    height: 150px;
  }
  
  .spanish{
    position: absolute;
    width: 300px;
    height: 150px;
    top: -4px;
    left: 0px;
  }

  .intro_mobile{
    display: block;
    position: relative;
    width: 300px;
    height: 150px;
    top: 400px;
    left: 0px;
  }
  .footer{
    text-align: center;
  }
  .footerImgLeft{
    display:none;
  }
  .footerImgRight{
    display:none;
  }
  
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
